.flex-col-gaps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.cancel-save-container {
  display: flex;
  gap: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.preview-container {
  width: 100%;
}

.edit-preview-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
}

@media only screen and (max-width: 900px) {
  .edit-preview-container {
    flex-direction: column;
  }
}

.education-buttons-container,
.experience-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.school-button,
.company-button {
  width: 100%;
  background-color: lightgrey;
}

.school-buttons-container,
.company-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
